@*@using BookClone.Models*@
@*@using BookClone.viewmodels*@
@model BookClone.viewmodels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Name</h2>*@

@*<h2>@( ((Movie)ViewData["Movie"]).Name)</h2>*@

@{ 
    var classname = Model.Customers.Count > 0? "popular" : null;
}

<h2 class="@classname">@Model.Movie.Name</h2>
<h2>
    movie name   :
    @Model.Movie.Name
</h2>
@if (Model.Customers.Count == 0)
{
    <text>no one has rented this movie before</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                @customer.Name
            </li>
        }
    </ul>

}

